# Projeto: Engenharia de Atributos - Tratamento de Dados Texto

<p>Vou imaginar que estou em meu trabalho e preciso fazer um modelo de Machine Learning e em uma das etapas precisarei resolver a seguinte questão:
<br>1º - Informar ao meu Chefe a quantidade dos 5 produtos mais vendidos e suas respectivas quantidades
<br>2º - Para o Modelo de Machine Learning precisarei fazer uma engenharia de atributos para que cada produto seja considerado como uma variavel para o modelo

In [3]:
# Carregando o pacote que será utilizado

import pandas as pd

In [15]:
# Ocorre este erro devido ao encoding do arquivo(acentos)
# df = pd.read_csv('dados.csv') 
# Essa forma de cima é a forma mais normal que fazemos para importar um arquivo CSV, porém se formos fazer a importação, dará um erro
# isso porque as palavras contém acentos

In [55]:
# Coletando os dados a serem utilizados

# Precisei ler o arquivo dessa forma
df = pd.read_csv('dados.csv', sep=";", encoding='ISO-8859-1')

In [13]:
df.shape

(30, 3)

In [17]:
# Visualizando os dados do arquivo

df.head(30)

    ID_CLIENTE        DATA                                           PRODUTOS
0            1  01/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
1            2  02/08/2023                 TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE
2            3  03/08/2023                         CEBOLA,BATATA,ARROZ,FEIJAO
3            4  04/08/2023                     CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ
4            5  05/08/2023                      ARROZ,DETERGENTE,CANDIDA,CAFÉ
5            6  06/08/2023             ACUCAR,VINAGRE,FEIJAO,ARROZ,DETERGENTE
6            7  07/08/2023      AMACIANTE,CEBOLA,ALHO,ARROZ,FEIJAO,DETERGENTE
7            8  08/08/2023  ABACATE,MELANCIA,PERA,UVA,OVOS,VINAGRE,DETERGENTE
8            9  09/08/2023  FRALDAS,CHOCOLATE,SUCO,REFRIGERANTE,AMACIANTE,...
9           10  10/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
10          11  11/08/2023                 TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE
11          12  12/08/2023                         CEBOLA,BATATA,ARROZ,FEIJAO
12          13  13/08/2023                     CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ
13          14  14/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
14          15  15/08/2023  FRALDAS,CHOCOLATE,SUCO,REFRIGERANTE,AMACIANTE,...
15          16  01/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
16          17  02/08/2023                 TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE
17          18  03/08/2023                         CEBOLA,BATATA,ARROZ,FEIJAO
18          19  04/08/2023                     CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ
19          20  05/08/2023                      ARROZ,DETERGENTE,CANDIDA,CAFÉ
20          21  06/08/2023             ACUCAR,VINAGRE,FEIJAO,ARROZ,DETERGENTE
21          22  07/08/2023      AMACIANTE,CEBOLA,ALHO,ARROZ,FEIJAO,DETERGENTE
22          23  08/08/2023    FEIJAO,VINAGRE,PERA,UVA,OVOS,VINAGRE,DETERGENTE
23          24  09/08/2023  FRALDAS,CHOCOLATE,SUCO,MELAO,AMACIANTE,DETERGENTE
24          25  10/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
25          26  11/08/2023        CHOCOLATE,DETERGENTE,REFRIGERANTE,CHOCOLATE
26          27  12/08/2023                      CEBOLA,AMACIANTE,ARROZ,FEIJAO
27          28  13/08/2023                     CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ
28          29  14/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
29          30  15/08/2023  FRALDAS,CHOCOLATE,SUCO,ARROZ,AMACIANTE,DETERGE...

In [19]:
# Utilizando o group by para avaliar
# Esse groupby eu juntei por produtos que foram comprados iguais, portanto juntei por clientes que compraram os mesmos produtos.

df.groupby(['PRODUTOS']).size()

PRODUTOS
ABACATE,MELANCIA,PERA,UVA,OVOS,VINAGRE,DETERGENTE                   1
ACUCAR,VINAGRE,FEIJAO,ARROZ,DETERGENTE                              2
AMACIANTE,CEBOLA,ALHO,ARROZ,FEIJAO,DETERGENTE                       2
ARROZ,DETERGENTE,CANDIDA,CAFÉ                                       2
CEBOLA,AMACIANTE,ARROZ,FEIJAO                                       1
CEBOLA,BATATA,ARROZ,FEIJAO                                          3
CHOCOLATE,DETERGENTE,REFRIGERANTE,CHOCOLATE                         1
CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ                                      4
DETERGENTE,AMACIANTE,CEBOLA,MELAO                                   6
FEIJAO,VINAGRE,PERA,UVA,OVOS,VINAGRE,DETERGENTE                     1
FRALDAS,CHOCOLATE,SUCO,ARROZ,AMACIANTE,DETERGENTE,VINAGRE           1
FRALDAS,CHOCOLATE,SUCO,MELAO,AMACIANTE,DETERGENTE                   1
FRALDAS,CHOCOLATE,SUCO,REFRIGERANTE,AMACIANTE,DETERGENTE            1
FRALDAS,CHOCOLATE,SUCO,REFRIGERANTE,AMACIANTE,DETERGENTE,VINAGRE    1
TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE                                  3
dtype: int64

In [21]:
# Criando uma lista vazia
lista = []

# Loop For para passar por todas linhas do DataFrame
# Dentro do try vamos colocar tudo o que queremos que aconteça e se por acaso se der algum tipo de erro ele vai cair no except e vai passar.
# Depois do try, temos a primeira linha Print que é o que vamos colocar na tela e embaixo dela o que vamos jogar dentro da lista. O teste é
# o nome de uma variável qualquer que dei o nome, o i é por onde meu código vai passar, por exemplo vai ver o nome de cada palavra e o SPLIT ele 
# vai separar as STRINGS, através da vírgula, sempre que ele encontrar uma vírgula ele vai separar. Entao no primeiro PRODUTO, vai ler abacate, 
# logo depois de abacate, através do split ele vai ler uma vírgula e vai separar como uma string. 

# O que vai ser armazenado dentro da variável teste vai ser uma lista e vamos armazenar dentro de LISTA, tudo o que está dentro do w.

for i in df['PRODUTOS']:
    try:
        print(i.split(','))
        teste = i.split(',')
        for w in teste:
            lista.append(w)
    except:
        pass

['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['TOMATE', 'CAFÉ', 'REFRIGERANTE', 'CHOCOLATE']
['CEBOLA', 'BATATA', 'ARROZ', 'FEIJAO']
['CHOCOLATE', 'MANDIOCA', 'ACUCAR', 'CAFÉ']
['ARROZ', 'DETERGENTE', 'CANDIDA', 'CAFÉ']
['ACUCAR', 'VINAGRE', 'FEIJAO', 'ARROZ', 'DETERGENTE']
['AMACIANTE', 'CEBOLA', 'ALHO', 'ARROZ', 'FEIJAO', 'DETERGENTE']
['ABACATE', 'MELANCIA', 'PERA', 'UVA', 'OVOS', 'VINAGRE', 'DETERGENTE']
['FRALDAS', 'CHOCOLATE', 'SUCO', 'REFRIGERANTE', 'AMACIANTE', 'DETERGENTE']
['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['TOMATE', 'CAFÉ', 'REFRIGERANTE', 'CHOCOLATE']
['CEBOLA', 'BATATA', 'ARROZ', 'FEIJAO']
['CHOCOLATE', 'MANDIOCA', 'ACUCAR', 'CAFÉ']
['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['FRALDAS', 'CHOCOLATE', 'SUCO', 'REFRIGERANTE', 'AMACIANTE', 'DETERGENTE', 'VINAGRE']
['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['TOMATE', 'CAFÉ', 'REFRIGERANTE', 'CHOCOLATE']
['CEBOLA', 'BATATA', 'ARROZ', 'FEIJAO']
['CHOCOLATE', 'MANDIOCA', 'ACUCAR', 'CAFÉ']
['ARROZ', 'DETERGENTE', 'CANDIDA', 'CAFÉ']
['ACUCAR', 'VINAGRE', 'FEIJAO', 'ARROZ', 'DETERGENTE']
['AMACIANTE', 'CEBOLA', 'ALHO', 'ARROZ', 'FEIJAO', 'DETERGENTE']
['FEIJAO', 'VINAGRE', 'PERA', 'UVA', 'OVOS', 'VINAGRE', 'DETERGENTE']
['FRALDAS', 'CHOCOLATE', 'SUCO', 'MELAO', 'AMACIANTE', 'DETERGENTE']
['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['CHOCOLATE', 'DETERGENTE', 'REFRIGERANTE', 'CHOCOLATE']
['CEBOLA', 'AMACIANTE', 'ARROZ', 'FEIJAO']
['CHOCOLATE', 'MANDIOCA', 'ACUCAR', 'CAFÉ']
['DETERGENTE', 'AMACIANTE', 'CEBOLA', 'MELAO']
['FRALDAS', 'CHOCOLATE', 'SUCO', 'ARROZ', 'AMACIANTE', 'DETERGENTE', 'VINAGRE']

In [27]:
# Verificando a lista

lista

['DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'TOMATE',
 'CAFÉ',
 'REFRIGERANTE',
 'CHOCOLATE',
 'CEBOLA',
 'BATATA',
 'ARROZ',
 'FEIJAO',
 'CHOCOLATE',
 'MANDIOCA',
 'ACUCAR',
 'CAFÉ',
 'ARROZ',
 'DETERGENTE',
 'CANDIDA',
 'CAFÉ',
 'ACUCAR',
 'VINAGRE',
 'FEIJAO',
 'ARROZ',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'ALHO',
 'ARROZ',
 'FEIJAO',
 'DETERGENTE',
 'ABACATE',
 'MELANCIA',
 'PERA',
 'UVA',
 'OVOS',
 'VINAGRE',
 'DETERGENTE',
 'FRALDAS',
 'CHOCOLATE',
 'SUCO',
 'REFRIGERANTE',
 'AMACIANTE',
 'DETERGENTE',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'TOMATE',
 'CAFÉ',
 'REFRIGERANTE',
 'CHOCOLATE',
 'CEBOLA',
 'BATATA',
 'ARROZ',
 'FEIJAO',
 'CHOCOLATE',
 'MANDIOCA',
 'ACUCAR',
 'CAFÉ',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'FRALDAS',
 'CHOCOLATE',
 'SUCO',
 'REFRIGERANTE',
 'AMACIANTE',
 'DETERGENTE',
 'VINAGRE',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'TOMATE',
 'CAFÉ',
 'REFRIGERANTE',
 'CHOCOLATE',
 'CEBOLA',
 'BATATA',
 'ARROZ',
 'FEIJAO',
 'CHOCOLATE',
 'MANDIOCA',
 'ACUCAR',
 'CAFÉ',
 'ARROZ',
 'DETERGENTE',
 'CANDIDA',
 'CAFÉ',
 'ACUCAR',
 'VINAGRE',
 'FEIJAO',
 'ARROZ',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'ALHO',
 'ARROZ',
 'FEIJAO',
 'DETERGENTE',
 'FEIJAO',
 'VINAGRE',
 'PERA',
 'UVA',
 'OVOS',
 'VINAGRE',
 'DETERGENTE',
 'FRALDAS',
 'CHOCOLATE',
 'SUCO',
 'MELAO',
 'AMACIANTE',
 'DETERGENTE',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'CHOCOLATE',
 'DETERGENTE',
 'REFRIGERANTE',
 'CHOCOLATE',
 'CEBOLA',
 'AMACIANTE',
 'ARROZ',
 'FEIJAO',
 'CHOCOLATE',
 'MANDIOCA',
 'ACUCAR',
 'CAFÉ',
 'DETERGENTE',
 'AMACIANTE',
 'CEBOLA',
 'MELAO',
 'FRALDAS',
 'CHOCOLATE',
 'SUCO',
 'ARROZ',
 'AMACIANTE',
 'DETERGENTE',
 'VINAGRE']

In [33]:
# Converto minha lista em um DataFrame

df_lista = pd.DataFrame(lista, columns = ['PRODUTOS'])
df_lista.head(5)

     PRODUTOS
0  DETERGENTE
1   AMACIANTE
2      CEBOLA
3       MELAO
4      TOMATE

In [31]:
df_lista.shape

(142, 1)

In [35]:
# Fazer um GroupBy para contar os produtos e ordenar por ordem decrescente

df_lista.groupby(['PRODUTOS']).size().sort_values(ascending = False)

PRODUTOS
DETERGENTE      19
AMACIANTE       13
CHOCOLATE       13
CEBOLA          12
ARROZ           11
FEIJAO           9
CAFÉ             9
MELAO            7
VINAGRE          7
ACUCAR           6
REFRIGERANTE     6
FRALDAS          4
MANDIOCA         4
SUCO             4
BATATA           3
TOMATE           3
CANDIDA          2
ALHO             2
OVOS             2
PERA             2
UVA              2
MELANCIA         1
ABACATE          1
dtype: int64

Informar ao nosso Chefe a quantidade dos 5 produtos mais vendidos e suas respectivas quantidades?
Podemos ver que os 5 primeiros produtos mais vendidos são: Detergente(19), amaciante(13), chocolate(13), cebola(12) e arro(11).

### Agora precisamos criar nossas variáveis pra cada produto

Para cada item do nosso dataframe precisa virar uma variável para o nosso algoritmo de machine learning que vamos criar. Cada produto será uma variável.

In [42]:
# Criando um dicionario de dados com os produto
# Deixamos igual mas poderiamos caso se os nomes originais fossem inglês, poderíamos fazer a tradução. 

dicionario = {'DETERGENTE':'DETERGENTE',               
            'AMACIANTE':'AMACIANTE',       
            'CHOCOLATE':'CHOCOLATE',       
            'CEBOLA':'CEBOLA',          
            'ARROZ':'ARROZ',           
            'FEIJAO':'FEIJAO',           
            'CAFÉ':'CAFÉ',             
            'MELAO':'MELAO',            
            'VINAGRE':'VINAGRE',          
            'ACUCAR':'ACUCAR',           
            'REFRIGERANTE':'REFRIGERANTE',     
            'FRALDAS':'FRALDAS',          
            'MANDIOCA':'MANDIOCA',         
            'SUCO':'SUCO',             
            'BATATA':'BATATA',           
            'TOMATE':'TOMATE',           
            'CANDIDA':'CANDIDA',          
            'ALHO':'ALHO',             
            'OVOS':'OVOS',             
            'PERA':'PERA',             
            'UVA':'UVA',              
            'MELANCIA':'MELANCIA',         
            'ABACATE':'ABACATE' } 

# Visualizando o dicionário

dicionario

{'DETERGENTE': 'DETERGENTE',
 'AMACIANTE': 'AMACIANTE',
 'CHOCOLATE': 'CHOCOLATE',
 'CEBOLA': 'CEBOLA',
 'ARROZ': 'ARROZ',
 'FEIJAO': 'FEIJAO',
 'CAFÉ': 'CAFÉ',
 'MELAO': 'MELAO',
 'VINAGRE': 'VINAGRE',
 'ACUCAR': 'ACUCAR',
 'REFRIGERANTE': 'REFRIGERANTE',
 'FRALDAS': 'FRALDAS',
 'MANDIOCA': 'MANDIOCA',
 'SUCO': 'SUCO',
 'BATATA': 'BATATA',
 'TOMATE': 'TOMATE',
 'CANDIDA': 'CANDIDA',
 'ALHO': 'ALHO',
 'OVOS': 'OVOS',
 'PERA': 'PERA',
 'UVA': 'UVA',
 'MELANCIA': 'MELANCIA',
 'ABACATE': 'ABACATE'}

In [44]:
# Visualizando nosso DataFrame

df.head(10)

   ID_CLIENTE        DATA                                           PRODUTOS
0           1  01/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO
1           2  02/08/2023                 TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE
2           3  03/08/2023                         CEBOLA,BATATA,ARROZ,FEIJAO
3           4  04/08/2023                     CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ
4           5  05/08/2023                      ARROZ,DETERGENTE,CANDIDA,CAFÉ
5           6  06/08/2023             ACUCAR,VINAGRE,FEIJAO,ARROZ,DETERGENTE
6           7  07/08/2023      AMACIANTE,CEBOLA,ALHO,ARROZ,FEIJAO,DETERGENTE
7           8  08/08/2023  ABACATE,MELANCIA,PERA,UVA,OVOS,VINAGRE,DETERGENTE
8           9  09/08/2023  FRALDAS,CHOCOLATE,SUCO,REFRIGERANTE,AMACIANTE,...
9          10  10/08/2023                  DETERGENTE,AMACIANTE,CEBOLA,MELAO

In [46]:
# Gerando os campos no DataFrame
# ITERROWS vai retornar a linha e o indice do meu dataframe, no caso primeiro será o index que vou colocar em index, e segundo
# va iretornar linha que vou colocar em row.

for index, row in df.iterrows():    
    for chave, valor in dicionario.items():
        try:            
            if chave in row['PRODUTOS']:
                df.at[index, valor] = 'Sim'
            else:
                df.at[index, valor] = 'Nao'
        except:
            pass

In [50]:
# Visualizando o DataFrame após alteração

df.head()

,ID_CLIENTE,DATA,PRODUTOS,DETERGENTE,AMACIANTE,CHOCOLATE,CEBOLA,ARROZ,FEIJAO,CAFÉ,...,SUCO,BATATA,TOMATE,CANDIDA,ALHO,OVOS,PERA,UVA,MELANCIA,ABACATE
0,1,01/08/2023,"DETERGENTE,AMACIANTE,CEBOLA,MELAO",Sim,Sim,Nao,Sim,Nao,Nao,Nao,...,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao
1,2,02/08/2023,"TOMATE,CAFÉ,REFRIGERANTE,CHOCOLATE",Nao,Nao,Sim,Nao,Nao,Nao,Sim,...,Nao,Nao,Sim,Nao,Nao,Nao,Nao,Nao,Nao,Nao
2,3,03/08/2023,"CEBOLA,BATATA,ARROZ,FEIJAO",Nao,Nao,Nao,Sim,Sim,Sim,Nao,...,Nao,Sim,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao
3,4,04/08/2023,"CHOCOLATE,MANDIOCA,ACUCAR,CAFÉ",Nao,Nao,Sim,Nao,Nao,Nao,Sim,...,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao,Nao
4,5,05/08/2023,"ARROZ,DETERGENTE,CANDIDA,CAFÉ",Sim,Nao,Nao,Nao,Sim,Nao,Sim,...,Nao,Nao,Nao,Sim,Nao,Nao,Nao,Nao,Nao,Nao